*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-width: 100%;
}

.main-con {
    min-height: 100vh;
    min-width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;

}

.main-con-row{
    margin-top: 200px;
    margin-bottom: 80px;
    justify-content: center;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    font-size: 0.8em;
    color: rgb(75, 75, 75);
    margin-bottom: 4px;
}

.footer-logo {
    margin-left: 40px;
    width: 120px;
}

.footer-icon {
    font-size: 3em;
}

.footer-con {}

.placeholder{
    border-radius: 10px;
    border: 1px solid darkgray;
    background-color: white;
    height: 800px;
}