*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100%;
}

.main-con {
  min-height: 100vh;
  min-width: 100%;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
}

.main-con-row {
  margin-top: 20px;
  margin-bottom: 80px;
  justify-content: center;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  font-size: 0.8em;
  color: rgb(75, 75, 75);
  margin-bottom: 4px;
}

.footer-logo {
  margin-left: 40px;
  width: 120px;
}

.footer-icon {
  font-size: 3em;
}

.placeholder {
  border-radius: 10px;
  border: 1px solid darkgray;
  background-color: white;
  min-height: 800px;
}

.placeholder2 {
  border-radius: 10px;
  border: 1px solid darkgray;
  background-color: white;
  height: fit-content;
}

.placeholder3 {
  border-radius: 10px;
  border: 1px solid darkgray;
  background-color: white;
  height: fit-content;
}

.people-card {
  width: 100%;
  margin-bottom: 5px;
  font-size: 0.8em;
}

#name-text {
  font-size: 0.9em;
  font-weight: bold;
}

.people-card span {
  color: gray;
  font-size: 0.7em;
}

/* .people-icon {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  display: flex;
} */

#people-btn {
  display: flex;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110px;
  justify-self: center;
  justify-content: center;
}

#people-btn:hover {
  color: grey;
  background-color: rgb(224, 224, 224);
}

#btn-icon {
  color: grey;
  font-size: 1em;
  margin-right: 2px;
}

#btn-icon:hover {
  color: white;
}

.peopleCard {
  height: 4rem;
  margin-bottom: 5px;
}

.title-text {
  overflow: hidden;
  width: 90%;
  line-height: 0.8em;
  max-height: 3.6em;
  text-overflow: ellipsis;
}

.search:focus {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  /* height: 100vh; */
}

.section-profile {
  width: 100%;
}

.top-side {
  background-color: rgb(160, 179, 182);
  height: 140px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.take-picture {
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.take-picture-icon {
  font-size: 1.3rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-picture {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: -112px, 0px, 0px;
  position: absolute;
  top: 70px;
}

.profile-picture:hover{
  cursor: pointer;
}

.profile-picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid white;
}

.post-pic {
  border-radius: 100%;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
  border: 2px solid darkgrey;
  object-fit: cover;
}

.post-pic-main {
  border-radius: 100%;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid white;
}

#edit-profile-btn {
  position: absolute;
}

.profile-buttons {
  display: flex;
  gap: 15px;
}

.btn-1 {
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-2 {
  border-radius: 30px;
  font-size: 1rem;
  color: #0c66c2;
  background-color: white;
  font-weight: bold;
  border-color: #0c66c2;
}

.btn-3 {
  border-radius: 30px;
  color: #5e5e5e;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  border-color: #5e5e5e;
}

.btn-4 {
  color: #5e5e5e;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ebebeb;
  border: none;
}

.profile-job-details {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: auto;
}

.open-to-work {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #e8e5df;
  padding-inline: 10px;
}

.second-section-p {
  gap: 5px;
  display: flex;
  align-items: center;
}

.add-sumary-section {
  display: flex;
  gap: 10px;
}

.profile-view-section {
  display: flex;
}

.viewed-people {
  display: flex;
  gap: 10px;
}

.people-search {
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 1rem;
}

.resource-mode {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid black;
}

.resource-mode-2 {
  display: flex;
  gap: 5px;
}

.all-resource {
  text-align: center;
}

h2 {
  font-size: 20px;
}

.activity {
  display: flex;
  justify-content: space-between;
}

.experience-add {
  display: flex;
  gap: 10px;
}

.experience-note {
  display: flex;
}

.experice-icon {
  font-size: 2rem;
  top: 70px;
  margin-bottom: 10px;
}

.experice-icon:hover {
  cursor: pointer;
}

#edit-profile-icon {
  position: absolute;
  right: -770px;
}

.skill-work {
  border-bottom: 0.2px solid gray;
}

h3 {
  font-size: 20px;
}

.interest {
  display: flex;
  flex-direction: column;
}

.interested-companies {
  display: flex;
  gap: 200px;
}

.companies-info {
  display: flex;
}

.company-name-follower {
  display: flex;
  flex-direction: column;
}

.companies-info img {
  width: 50px;
  height: 60px;
}

.post-card {
  width: 100%;
  min-height: 15rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid darkgray;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.comment-img-con img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid rgb(119, 119, 119);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.comment-header {
  margin-left: 0.3rem;
  line-height: 3rem;
  position: relative;
}

.comment-subheader {
  margin-left: 0.3rem;
  line-height: 1rem;
  position: absolute;
  top: 2rem;
  width: 250px;
}

a {
  color: black;
}

a:hover {
  color: darkgray;
  text-decoration: none;
}

.comment-image {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
}

.comment-icon {
  display: flex;
  gap: 5px;
  justify-items: center;
  justify-items: center;
  color: #5e5e5e;
  font-size: 1.2rem;
  cursor: pointer;
}

.icons-div-comment {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.dropdown-div {
  position: absolute;
  right: 1.5rem;
  margin-top: 0.5rem;
}

.gold {
  color: rgb(230, 174, 53);
}

#refresh {
  font-weight: bold;
  color: rgb(8, 117, 243);
}

#refresh:hover {
  cursor: pointer;
}

#date {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid darkgray;
}

.contact:hover {
  cursor: pointer;
}

#up-btn {
  border: none;
  color: rgb(8, 117, 243);
  background: none;
  font-size: 2em;
}
.post-card-homepage {
  display: flex;
}
